.f-caption {
  background: var(--ref-color-transparent);
  color: var(--sys-on-surface-variant);
  font-size: var(--ref-text-base);
  font-weight: var(--ref-font-bold);
  display: flex;
  align-items: center;
  gap: var(--ref-spacing-xs);
  padding-left: var(--ref-spacing-md);
  padding-right: var(--ref-spacing-md);
  padding-top: var(--ref-spacing-sm);
  padding-bottom: var(--ref-spacing-sm);
}
