.f-popover-content {
  display: flex;
  flex-direction: column;
  background: var(--sys-surface);
  color: var(--sys-on-surface);
  border-top-width: var(--ref-border-width-thin);
  border-right-width: var(--ref-border-width-thin);
  border-bottom-width: var(--ref-border-width-thin);
  border-left-width: var(--ref-border-width-thin);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: var(--sys-outline);
  box-shadow: var(--ref-shadow-lg);
  z-index: var(--ref-z-popover);
  min-width: 250px;
  max-height: 400px;
  overflow: hidden;
}
